black==24.4.2
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.13.4
flake8==7.0.0
flake8-builtins==2.5.0
flake8-docstrings==1.7.0
flake8-isort==6.1.1
Flake8-pyproject==1.2.3
identify==2.5.36
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.1
pre-commit==3.7.0
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.2.0
pygame==2.5.2
PyYAML==6.0.1
setuptools==69.5.1
snowballstemmer==2.2.0
virtualenv==20.26.0
